.contact-us{
    min-height: 120vh;
    padding-top: 80px;
    padding: 120px;
    padding-top: 100px;
}

.contact-us h3{
    font-size: 36px;
line-height: 43px;
color: #212121;
font-family: "Raleway";
text-align: center;
margin-bottom: 20px;
}

.contact-us .dev {
    display: block;
    margin: 0 auto; 
}

.contact-us p{
    font-size: 14px;
line-height: 20px;
color: #86878b;
font-weight: 400;
font-family: "Open Sans";
text-align: center;
margin-top: 30px;
margin-bottom: 120px;
}

.contact-us .send{
    font-size: 15px;
color: #ffffff;
font-weight: 600;
font-family: "Open Sans";
margin: 0 auto;
align-items: center;
background-color: orange;
}
