#testimonials {
    background-image: url('../images/Place Your Image Here (Double Click to Edit)3 (1).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 112vh;
}

#testimonials::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color: rgba(77, 37, 0, 0.5);
}

#testimonials .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    text-align: center;
    position: relative;
    z-index: 2;
    padding-top: 270px;
    margin-bottom: 2px;
}
#testimonials p {
    width: 90%;
    height: 169px;
    font-size: 36px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    margin-bottom: -40px;
}

#testimonials h3 {
    width: 782px;
    height: 169px;
    font-size: 36px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}