#contact-us {
    position: relative;
    background-image: url('../images/contact-us_background.jpeg');
    min-height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-size: cover;
    top: -90px;
}

#contact-us .container {
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#contact-us h2 {
    font-size: 75px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    text-transform: none;
    margin-bottom: 60px;
    padding-top: 150px;
}

#contact-us p {
    width: 83%;
    height: 210px;
    font-size: 30px;
    color: #54524f;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}

#contact-us form {
    position: relative;
    max-width: 70%;
    width: 64%;
    top: -65px;
    margin-bottom: -50px;
}

#contact-us form input {
    background-color: #fff;
    border-radius: 32px;
    padding: 15px 100px 15px 25px;
    border: none;
    width: 95%;
    font-size: 25px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
    box-sizing: border-box;
}

#contact-us form input::placeholder {
    color: rgba(0, 0, 0, 0.7);
}

#contact-us form input[type="submit"] {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: max-content;
    color: #fff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
    background-color: #54524f;
    padding: 15px;
    width: 30%
}